#banner1 {

}

#car_menu {
  margin-top: 10px;
  background-color: #ddd;
}

#bottom_menu {
  background-color: #ddd;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-top: 10px;
}

/* Vertical divider for row: It adds a border for both columns */

.grid--borderBetween > [class*='col-']:before,
.grid--borderBetween > [class*='col-']:after {
    background: #b2b2b2;
    bottom: 0;
    content: " ";
    position: absolute;
    width: 1px;
    top: 0;
}
.grid--borderBetween > [class*='col-']:before {
    left: 0;
}
.grid--borderBetween > [class*='col-']:after {
    right: -1px;
}
.grid--borderBetween > [class*='col-']:first-child:before,
.grid--borderBetween > [class*='col-']:last-child:after {
    display: none;
}

#designer {
  color: gray;
  font-size: 18px;
  margin-top: 15px;
}
